<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Allure Report">
    <test name="Regression">
         <classes>
             <class name="allure.gradle.project.TestCase"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->